venv/
.idea/**/workspace.xml
.idea/**/dictionaries
.idea/code-comments-settings.xml
.idea/code-comments.xml
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/techa.iml
.idea/vcs.xml
Makefile
build/
doc/
source/
techa.egg-info/
